<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Search2ndPage</servlet-name>
        <servlet-class>com.boxalino.examples.Search2ndPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataBasic</servlet-name>
        <servlet-class>com.boxalino.examples.DataBasic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataCategories</servlet-name>
        <servlet-class>com.boxalino.examples.DataCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataCustomers</servlet-name>
        <servlet-class>com.boxalino.examples.DataCustomers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataDebugXml</servlet-name>
        <servlet-class>com.boxalino.examples.DataDebugXml</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataFullExport</servlet-name>
        <servlet-class>com.boxalino.examples.DataFullExport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataInit</servlet-name>
        <servlet-class>com.boxalino.examples.DataInit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataResource</servlet-name>
        <servlet-class>com.boxalino.examples.DataResource</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataSplitFieldValues</servlet-name>
        <servlet-class>com.boxalino.examples.DataSplitFieldValues</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataTransactions</servlet-name>
        <servlet-class>com.boxalino.examples.DataTransactions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParametrizedRequest</servlet-name>
        <servlet-class>com.boxalino.examples.ParametrizedRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecommendationsBasket</servlet-name>
        <servlet-class>com.boxalino.examples.RecommendationsBasket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecommendationsSimilar</servlet-name>
        <servlet-class>com.boxalino.examples.RecommendationsSimilar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecommendationsSimilarComplementary</servlet-name>
        <servlet-class>com.boxalino.examples.RecommendationsSimilarComplementary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAutocompleteBasic</servlet-name>
        <servlet-class>com.boxalino.examples.SearchAutocompleteBasic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAutocompleteItems</servlet-name>
        <servlet-class>com.boxalino.examples.SearchAutocompleteItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAutocompleteItemsBundled</servlet-name>
        <servlet-class>com.boxalino.examples.SearchAutocompleteItemsBundled</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAutocompleteProperty</servlet-name>
        <servlet-class>com.boxalino.examples.SearchAutocompleteProperty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBasic</servlet-name>
        <servlet-class>com.boxalino.examples.SearchBasic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCorrected</servlet-name>
        <servlet-class>com.boxalino.examples.SearchCorrected</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDebugRequest</servlet-name>
        <servlet-class>com.boxalino.examples.SearchDebugRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFacet</servlet-name>
        <servlet-class>com.boxalino.examples.SearchFacet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFacetCategory</servlet-name>
        <servlet-class>com.boxalino.examples.SearchFacetCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFacetPrice</servlet-name>
        <servlet-class>com.boxalino.examples.SearchFacetPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFilter</servlet-name>
        <servlet-class>com.boxalino.examples.SearchFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFilterAdvanced</servlet-name>
        <servlet-class>com.boxalino.examples.SearchFilterAdvanced</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRequestContextParameters</servlet-name>
        <servlet-class>com.boxalino.examples.SearchRequestContextParameters</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchReturnFields</servlet-name>
        <servlet-class>com.boxalino.examples.SearchReturnFields</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSortField</servlet-name>
        <servlet-class>com.boxalino.examples.SearchSortField</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSubPhrases</servlet-name>
        <servlet-class>com.boxalino.examples.SearchSubPhrases</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search2ndPage</servlet-name>
        <url-pattern>/Search2ndPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataBasic</servlet-name>
        <url-pattern>/DataBasic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataCategories</servlet-name>
        <url-pattern>/DataCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataCustomers</servlet-name>
        <url-pattern>/DataCustomers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataDebugXml</servlet-name>
        <url-pattern>/DataDebugXml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataFullExport</servlet-name>
        <url-pattern>/DataFullExport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataInit</servlet-name>
        <url-pattern>/DataInit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataResource</servlet-name>
        <url-pattern>/DataResource</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataSplitFieldValues</servlet-name>
        <url-pattern>/DataSplitFieldValues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataTransactions</servlet-name>
        <url-pattern>/DataTransactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParametrizedRequest</servlet-name>
        <url-pattern>/ParametrizedRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecommendationsBasket</servlet-name>
        <url-pattern>/RecommendationsBasket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecommendationsSimilar</servlet-name>
        <url-pattern>/RecommendationsSimilar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecommendationsSimilarComplementary</servlet-name>
        <url-pattern>/RecommendationsSimilarComplementary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAutocompleteBasic</servlet-name>
        <url-pattern>/SearchAutocompleteBasic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAutocompleteItems</servlet-name>
        <url-pattern>/SearchAutocompleteItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAutocompleteItemsBundled</servlet-name>
        <url-pattern>/SearchAutocompleteItemsBundled</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAutocompleteProperty</servlet-name>
        <url-pattern>/SearchAutocompleteProperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBasic</servlet-name>
        <url-pattern>/SearchBasic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCorrected</servlet-name>
        <url-pattern>/SearchCorrected</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDebugRequest</servlet-name>
        <url-pattern>/SearchDebugRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFacet</servlet-name>
        <url-pattern>/SearchFacet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFacetCategory</servlet-name>
        <url-pattern>/SearchFacetCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFacetPrice</servlet-name>
        <url-pattern>/SearchFacetPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFilter</servlet-name>
        <url-pattern>/SearchFilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFilterAdvanced</servlet-name>
        <url-pattern>/SearchFilterAdvanced</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRequestContextParameters</servlet-name>
        <url-pattern>/SearchRequestContextParameters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchReturnFields</servlet-name>
        <url-pattern>/SearchReturnFields</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSortField</servlet-name>
        <url-pattern>/SearchSortField</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSubPhrases</servlet-name>
        <url-pattern>/SearchSubPhrases</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
